.noto-sans-jp-<uniquifier> {
	font-family: "Noto Sans JP", sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
}

html {
	color:#000000;
	bacground-color:#ffffff;
}


@media screen and (min-width:768px){

nav {
	font-size: 34px;
	margin: auto:
}

#picture {
	width: 100%;
	heigth: 400px;
}

h2 {
	font-size: 34px:
}

h3 {
	font-size: 24px;
}

p {
	font-size: 18px;
}

#nav-left {
	float: left;
	margin: 0;
	border: solid;
	border-color: black;
	border-width: 1px;	
}

#nav-right {
	float: right;
	margin: 0;
}

a:link {
	color: black
	text-decoration: none;
}

a:visited {
	color: black;
}

a:hover {
	color: black;
	text-decoration: under-line ;
}

a:active {
	color; black:
}

#picture {
	width: 100%;
	heigth: 400px;
}


#about-profile > p::after {
	content: "●"；
}

#works-picture {
display: flex;
justify-content: center:
}

footer {
	text-align: center;
}

}


@media screen and (max-width:767px){




}



