.noto-sans-jp-<uniquifier> {
	font-family: "Noto Sans JP", sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
}

html {
	color:#000000;
	bacground-color:#ffffff;
}


@media screen and (min-width:768px){

nav {
	font-size: 34px;
	margin: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#picture {
	width: 100%;
	heigth: 400px;
}

h1 {
	border: 1px solid black;	
	/* padding: 20px; */
}

h2 {
	font-size: 34px:
}

h3 {
	font-size: 24px;
}

p {
	font-size: 18px;
}

a:link {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
}

a:hover {
	color: black;
	text-decoration: underline ;
}

a:active {
	color: black;
}

#picture {
	width: 100%;
	heigth: 400px;
}

#about > h2 {
	text-align: center;
}

#about {
	display: flex;
	justify-content: center;
	align-items: center;
}

#about-picture {
	border-radius: 50%;
	heigth: 200px;
	width: 200px;
}

#about-profile > p::before {
	content: "â—";
}

#works > h2 {
	text-align: center;
}


#works {
	display: flex;
	justify-content: center;
	align-items: center;
}

footer {
	text-align: center;
}

}


@media screen and (max-width:767px){




}



